{% load staticfiles %}
{% load static %}

{% block head %}
<link href="{% static "css/announcements.css" %}" rel="stylesheet">
{% endblock %}

<div class="heading">
	<div class="hd">PSVT:R</div>
	<div class="hd2">COMING SOON</div>
	<hr>
	<div class="text"> ...will be launched on May 1st
	</div>
</div>
<div class="contact">Contact spatial.reasoning.uiuc@gmail.com, if you have any questions about the test
</div>



{% block content %}

{% endblock %}

{% block javascript %}
<script type="text/javascript">

	</script>
{% endblock %}
