<html lang="en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>SpatialCS</title>
	<script src="js/jquery-2.1.4.min.js"></script><script src="js/bootstrap.min.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/main.css" rel="stylesheet" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<!-- THE NAVBAR -->
<body class="center" data-offset="50" data-spy="scroll" data-target=".navbar">
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid"><!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header"><button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span></button></div>
<!-- Collect the nav links, forms, and other content for toggling -->

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
	<li><a class="navbar-brand" href="#top">SpatialCS</a></li>
	<li><a href="#projects">Current Projects</a></li>
	<li><a href="#people">People</a></li>
	<li><a href="#contact">Contact Us</a></li>
</ul>
</div>
<!-- /.navbar-collapse --></div>
<!-- /.container-fluid --></nav>

<div class="text-center">
<section id="top">
<div class="container-fluid">
<h1 class="bottom-unpad-1"><b>SpatialCS</b></h1>

<h3>A subdivision of the CS&nbsp;@&nbsp;ILLINOIS Cascade Lab</h3>

<hr />
<div class="intro center row">
<h2><b>What We Do</b></h2>

<p>Our research group investigates the effect of videogame training on spatial reasoning skills. The goal of our research is to provide evidence-based recommendations to researchers, game designers, and educators about the best ways to train spatial skills for specific target populations. We developed our own game, Homeworld Bound, to use as a testbed for our studies.</p>
</div>
</div>
</section>

<hr />
<section id="projects">
<div class="center row">
<h2><b>Current Research Projects</b></h2>
</div>

<div class="center row">
<div class="col-md-1"></div>

<div class="col-md-5">
<h2><a href="http://spatial.cs.illinois.edu/game-features.html">Game Features for Spatial Skill Training</a></h2>

<p>What individual features contribute to a game&#39;s effectiveness at training children&#39;s spatial skills?</p>
<img class="img-responsive side-pad" src="img/3Pictures.png" /></div>

<div class="col-md-5">
<h2>Traditional Versus Game-Based Training</h2>

<p>How do traditional workbook exercises compare with game-based approaches to training undergraduate engineering students&#39; spatial skills?</p>
<img class="img-responsive" src="img/CAD.png" /></div>

<div class="col-md-1"></div>
</div>
</section>

<hr />
<section id="people">
<div class="center row">
<h2><b>People</b></h2>

<h3 class="bottom-pad-2"><b>Faculty and Staff</b></h3>
</div>

<div class="center row"><!-- Angie Wolters -->
<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/awolters.jpg" /></div>

<div class="center row">
<p><a href="http://engineering.illinois.edu/academics/undergraduate/communities/WIE/staff.html">Angie Wolters</a><br />
Assistant Director<br />
Women in Engineering<br />
<a href="mailto:wolters4@illinois.edu">wolters4@illinois.edu</a></p>
</div>
</div>
<!-- Wai-Tat Fu -->

<div class="col-md-2">
<div class="center row"><img class="img-responsive center-bloc bottom-pad-1k" src="img/wfu.jpg" /></div>

<div class="center row">
<p><a href="http://web.engr.illinois.edu/~wfu/">Wai-Tat Fu</a><br />
Associate Professor<br />
Computer Science<br />
<a href="mailto:wfu@illinois.edu">wfu@illinois.edu</a></p>
</div>
</div>
<!-- Chad Lane -->

<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/hclane.jpg" /></div>

<div class="center row">
<p><a href="http://education.illinois.edu/faculty/hclane">H. Chad Lane</a><br />
Associate Professor<br />
Educational Psychology<br />
<a href="mailto:hclane@illinois.edu">hclane@illinois.edu</a></p>
</div>
</div>
<!-- Frances Wang -->

<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/wang18.png" /></div>

<div class="center row">
<p><a href="http://www.psychology.illinois.edu/people/wang18">Frances Wang</a><br />
Professor<br />
Psychology<br />
<a href="mailto:wang18@illinois.edu">wang18@illinois.edu</a></p>
</div>
</div>
<!-- Geoffrey Herman -->

<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/gherman.jpg" /></div>

<div class="center row">
<p><a href="http://publish.illinois.edu/glherman/">Geoffrey Herman</a><br />
Assistant Professor<br />
Computer Science<br />
<a href="mailto:glherman@illinois.edu">Contact Email</a></p>
</div>
</div>
<!-- James Michael Leake -->

<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/jmleake.png" /></div>

<div class="center row">
<p><a href="http://ise.illinois.edu/directory/faculty/jmleake">James Michael Leake</a><br />
Lecturer<br />
Industrial and Enterprise Systems Engineering<br />
<a href="mailto:jmleake@illinois.edu">jmleake@illinois.edu</a></p>
</div>
</div>
<!-- Brian Woodard -->

<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/bwoodard.png" /></div>

<div class="center row">
<p><a href="http://aerospace.illinois.edu/directory/faculty/profile/bswoodrd">Brian S. Woodard</a><br />
Teaching Associate<br />
Aerospace Engineering<br />
<a href="mailto:bswoodrd@illinois.edu">bswoodrd@illinois.edu</a></p>
</div>
</div>
</div>

<hr /><!-- Beginning of grad student photos -->
<div class="center row">
<h3 class="bottom-pad-2"><b>Graduate Students</b></h3>
</div>

<div class="center row"><!-- Helen Wauck -->
<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/wauck2.jpg" /></div>

<div class="center row">
<p><a href="http://web.engr.illinois.edu/~wauck2/">Helen Wauck</a><br />
PhD Student<br />
<a href="mailto:wauck2@illinois.edu">wauck2@illinois.edu</a></p>
</div>
</div>
<!-- Ziang Xiao -->

<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/unknown.png" /></div>

<div class="center row">
<p>Ziang Xiao<br />
PhD Student<br />
<a href="mailto:zxiao5@illinois.edu">zxiao5@illinois.edu</a></p>
</div>
</div>
<!-- Sanorita Dey -->

<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/sdey.jpg" /></div>

<div class="center row">
<p>Sanorita Dey<br />
PhD Student</p>
</div>
</div>
<!-- Chi-Hsien Eric Yen -->

<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/cyen4.png" /></div>

<div class="center row">
<p>Chi-Hsien Eric Yen<br />
PhD Student<br />
<a href="mailto:cyen4@illinois.edu">cyen4@illinois.edu</a></p>
</div>
</div>
<!-- Yi-Chieh EJ Lee -->

<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/ylee.jpg" /></div>

<div class="center row">
<p>Yi-Chieh EJ Lee<br />
PhD Student<br />
<a href="mailto:ylee267@illinois.edu">ylee267@illinois.edu</a></p>
</div>
</div>
</div>

<hr /><!-- Beginning of undergrad student photos -->
<div class="center row">
<h3 class="bottom-pad-2"><b>Undergraduate Students</b></h3>
</div>

<div class="center row"><!-- Jackie Huey -->
<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/jhuey.JPG" /></div>

<div class="center row">
<p>Jackie Huey<br />
<a href="mailto:jaclynnicole179@gmail.com">jaclynnicole179@gmail.com</a></p>
</div>
</div>
<!-- Nick Olenz -->

<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/nolenz.jpg" /></div>

<div class="center row">
<p>Nick Olenz</p>
</div>
</div>
<!-- Robin C Sheong -->

<div class="col-md-2">
<div class="center row"><img class="img-responsive center-block bottom-pad-1" src="img/unknown.png" /></div>

<div class="center row">
<p>Robin C Sheong</p>
</div>
</div>
</div>
</section>

<hr />
<section id="contact">
<div class="center row">
<h2><b>Contact Us</b></h2>

<div class="col-md-3"></div>

<div class="col-md-3">
<h3><b>Lead researcher</b><br />
Helen Wauck<br />
wauck2 at illinois dot edu</h3>
</div>

<div class="col-md-3">
<h3><b>Faculty Director</b><br />
Wai-Tat Fu<br />
wfu at illinois dot edu</h3>
</div>

<div class="col-md-3"></div>
</div>
</section>
</div>

<hr />
<footer><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" style="border-width:0" /></a>

<div class="spacer5"></div>
<span property="dct:title" xmlns:dct="http://purl.org/dc/terms/">This site and all content</span> by <span property="cc:attributionName" xmlns:cc="http://creativecommons.org/ns#">Helen Wauck</span> is licensed under a<br />
<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a></footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41745514-1', 'auto');
  ga('send', 'pageview');

  </script></body>
</html>
