{% extends 'workshoptemplate.html' %}

{% load staticfiles %}
{% load static %}

{% block head %}
<link href="{% static "css/survey.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="test-wrapper">
		<h1 class="ss-form">Survey</h1>
		<div class="test-QA">
			<p>Have you ever played video games? </p>
		</div>
		<div class="test-A">
			<div class="test-A-div">
				<div>Yes</div>
			</div>
			<div class="test-A-div">
				<div>No</div>
			</div>
		</div>
		<p class="clear"></p>
		<div class="test-QB">
			<p>Have you played video games recently (in the past year)?</p>
		</div>
		<div class="test-B">
			<div class="test-B-div">
				<div>Yes</div>
			</div>
			<div class="test-B-div">
				<div>No</div>
			</div>
		</div>

		<div class="test-QC">
			<p>How long have you been playing video games?</p>
		</div>
		<div class="test-C">
			<div class="test-C-div">
				<div>6 months or less</div>
			</div>
			<div class="test-C-div">
				<div>1 year</div>
			</div>
			<div class="test-C-div">
				<div>2-5 years</div>
			</div>
			<div class="test-C-div">
				<div>5-10 years</div>
			</div>
			<div class="test-C-div">
				<div>10 or more years</div>
			</div>
		</div>
		<div class="test-QD">
			<p>How many hours do you play video games in a typical week?</p>
			<input type="text" onkeyup="text_recorder(this,3);">
		</div>
		<div class="test-QE">
			<p>When you play video games, how long do you typically play for in a single session?</p>
			<input type="text" onkeyup="text_recorder(this,4);">
		</div>
		<div class="test-QF">
			<p>How long have you been playing video games?</p>
		</div>
		<div class="test-F">
			<div class="test-F-div">
				<div>Casual Gamer (i.e. you dabble in games but in short sessions or infrequently)</div>
			</div>
			<div class="test-F-div">
				<div>Core/Midcore Gamer (i.e. you regularly play video games but are not super serious nor competitive)</div>
			</div>
			<div class="test-F-div">
				<div>Hardcore Gamer (i.e. you have high end equipment and play seriously or competitively)</div>
			</div>
		</div>
		<div class="test-QG">
			<p>Rank your top three favorite game genres/categories:</p>
			<p> a.	Action </p>
			<p>b.	First Person Shooter (FPS)</p>
			<p>c.	Strategy</p>
			<p>d.	Adventure</p>
			<p>e.	Simulation</p>
			<p>f.	Music</p>
			<p>g.	Fighting</p>
			<p>h.	Family</P>
			<p>i.	Racing</p>
			<p>j.	Fitness</p>
			<p>k.	Sports</p>
			<p>l.	Platformer</p>
			<p>m.	Puzzle</p>
			<p>n.	Other, please specify in the blank space below</p>
			<input type="text" onkeyup="text_recorder(this,6);">
		</div>
		<div class="test-QH">
			<p>Name up to three of your favorite games:</p>
			<input type="text" onkeyup="text_recorder(this,7);">
		</div>
		<p class="clear"></p>
		<button class="next-btn">Next</button>
	</div>

{% endblock %}

{% block javascript %}
		<script type="text/javascript">
		var answers = Array(1).fill('X');
		var static_prefix = '{% get_static_prefix %}';
		var Q_id = 1;
		var timeInMinutes = 20;
		var currentTime = Date.parse(new Date());
		var deadline = new Date(currentTime + timeInMinutes*60*1000);



		// init
		$(function(){
			$("button.next-btn").click( clickNext );
			$("div.test-A-div").click({Q_id: 0, divSet : "div.test-A-div"},selection_recorder);
			$("div.test-B-div").click({Q_id: 1, divSet : "div.test-B-div"},selection_recorder);
			$("div.test-C-div").click({Q_id: 2, divSet : "div.test-C-div"},selection_recorder);
			$("div.test-F-div").click({Q_id: 5, divSet : "div.test-F-div"},selection_recorder);


			});


		function clickNext(){
			// console.log("click");
			console.log(answers);
			saveLog( "SURVEY1", answers, function(){
						//document.location.href = '/survey2';
						})
		};

	function text_recorder(field,Q_id) {
		answers[Q_id] = field.value;
	};

	function selection_recorder(event){
		Q_id = event.data.Q_id;
		div = event.data.divSet;
		cur_selected = $(this).index();
		if(cur_selected != answers[Q_id]) {
			$(div).eq(answers[Q_id]).removeClass("selected");
			$(div).eq(cur_selected).addClass("selected");
			answers[Q_id] = cur_selected;
		}


	};

	// Returns a random integer between min (included) and max (excluded)
	// Using Math.round() will give you a non-uniform distribution!
	function getRandomInt(min, max) {
		return Math.floor(Math.random() * (max - min)) + min;
	}

		</script>

{% endblock %}
