{% extends 'workshoptemplate.html'  %}

{% load staticfiles %}
{% load static %}

{% block head %}
<link href="{% static "css/test.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="test-wrapper">
		<h1 class="ss-form">Spatial Skill Test</h1>
		<div class="test-Q">
			<p>Look at the image below. </p>
			<img src="">
			<p>Two of these four drawings show the same object. Can you find those two? </p>
		</div>

		<div class="test-A">
			<div class="test-A-div">
				<div>A</div>
				<img src="">
			</div>
			<div class="test-A-div">
				<div>B</div>
				<img src="">
			</div>
			<div class="test-A-div">
				<div>C</div>
				<img src="">
			</div>
			<div class="test-A-div">
				<div>D</div>
				<img src="">
			</div>
		</div>
		<p class="clear"></p>
		<button class="next-btn">Next</button>

	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		var selected = [];
		var answers = Array(48).fill(-1);
		var static_prefix = '{% get_static_prefix %}';
		var Q_id = 1;
		// var timeInMinutes = 20;
		// var currentTime = Date.parse(new Date());
		// var deadline = new Date(currentTime + timeInMinutes*60*1000);

		function test_finished(){
			saveLog( "MRTTEST", answers, function(){
						document.location.href = '/testsurvey';
						})
		}

		// init
		$(function(){
			$("button.next-btn").click( clickNext );
			initialize_QID(1);
			$("div.test-A-div").click(function(){
				cur_selected = $(this).index();
				index = selected.indexOf(cur_selected);
				if (index < 0 && selected.length < 2){
					$("div.test-A-div").eq(cur_selected).addClass("selected");
					selected.unshift(cur_selected);

				}
				else if(index != -1 && selected.length <= 2){
					$("div.test-A-div").eq(cur_selected).removeClass("selected");
					selected.splice(index, 1);
				}
				if (selected.length==2){
				$("button.next-btn").prop('disabled', false);}
			})
			});


		function clickNext(){
			// console.log("click");
			// answers[Q_id-1] = +$("div.test-A-div img").eq(selected).attr("num");
			// answers[Q_id-1] = +$("div.test-A-div img").eq(selected).attr("num");
			// var selected = document.getElementsByClassName("selected").attr("num",i);
			// console.log(selected);
			answers[Q_id-1]=selected;
			console.log(answers);
			console.log(answers[Q_id-1]);
			// console.log(answers[Q_id-1]);
			saveLog("ANSWER", {"Q": Q_id, "A": answers[Q_id-1]}, function(){
			if (Q_id >= 24) {
				// go to next page
				test_finished();
			}
			else {
				Q_id++;
				$("#completed").html(Q_id-1);
				initialize_QID(Q_id);
				}
				});
		}

		function initialize_QID (Q_id) {
			selected = [];
			$("button.next-btn").prop('disabled', true);
			$("div.test-Q img").each(function(i){
				var img_name = "assets/mrt_imgs/Q" + Q_id + "_Q" + (i+1) + ".png";
				$(this).attr("src", "");
				$(this).attr("src", static_prefix + img_name);
			})
			$("div.test-A-div").each(function(i){
				var img_name = "assets/mrt_imgs/Q" + Q_id + "_A" + (i+1) + ".png";
				$("img", this).attr("src", "")
				$("img", this).attr("src", static_prefix + img_name)
				.attr("num", i);
				console.log(i);
			});

			$("div.test-A-div").removeClass("selected").removeClass("correct")
		}
		</script>
{% endblock %}
