{% extends 'workshoptemplate.html'  %}

{% block content %}
<div class="ss-form" style="display:block">
	Good Job!<br>
	You have completed the test and the surveys.<br>

	Your score: {{ mrttestscore_score }}/24<br>

	<hr>

</div>
<!--
<div class="ss-item ss-navigate">
	<table id=navigation-table>
		<tbody><tr>
			<td class="ss-form-entry goog-inline-block" id=navigation-buttons dir=ltr>
			<input type=button value=Finish id=ss-nextpage class="jfk-button jfk-button-action finish" onClick="windowClose()">
	</table>
</div>
-->
{% endblock %}
